
.navigation
	position fixed
	top headerHeight
	left 0
	width navWidth 
	height 'calc(100% - %s)' % headerHeight
	background Black
	border-right 1px solid BlackLight
	transform translateX(-100%)
	transition 500ms
	z-index 2
	&.on
		transform translateX(0)
		

//////////////////////////////////////////////////////

.navigation-profil
	position relative
	width navProfilWidth
	background BlackLight  
	margin 5px
	border 1px solid MainColor 
	transition 500ms
	transform-origin 50% 0
	transform scaleY(0)
	height 0
	&.on
		transform scaleY(1)		
		height navProfilHeight
.navigation-profil-image
	position absolute
	width navProfilWidth*0.4
	height 100%
	top 0
	left 0 
	> .img
		background BlackLight
		background-image url('../assets/img/test01.jpg') 
		background-size cover
		width navProfilHeight*0.6
		height @width
		margin-top navProfilHeight*0.2 
		margin-left (navProfilWidth*0.4 - @width)*0.5 
		border none
		outline none  
		border-radius 50%		
		border 3px solid MainColor
.navigation-profil-info
	position absolute
	width navProfilWidth*0.6
	height 100%
	top 0
	right 0 
	border-left 1px solid MainColor 
	box-sizing border-box
	> h3,h4
		color White
		text-overflow ellipsis 
		overflow hidden
		cursor default
	> h3
		margin 15px 5px
	> h4
		margin 5px
		
//////////////////////////////////////////////////////

.navigation-menu
	margin 5px
	width navWidth - 10 
.menu_item
	@extend .button
	padding 5px 10px
	margin 10px 0
	border-radius borderRadius
	color White
	text-transform uppercase	
	text-align center
	&.on
		background rgba(0,0,0,.1) 
		
//////////////////////////////////////////////////////

.menu_color
	position absolute
	bottom 0
	width 100%
	padding 10px 0
	
.menu_color_item
	width (navWidth*0.25) - 10px
	height @width  
	margin 0 5px
	float left
	border-radius borderRadius
	@extend .button-hover
	&:nth-of-type(1)
		background linear-gradient(45deg,lighten(rgba(yellow,.9),10%),lighten(rgba(orange,.9),10%)) 
	&:nth-of-type(2)
		background linear-gradient(45deg,lighten(rgba(red,.9),10%),orange)
	&:nth-of-type(3)
		background linear-gradient(45deg,lighten(rgba(cyan,.9),10%),lighten(rgba(blue,.9),10%))
	&:nth-of-type(4)
		background linear-gradient(45deg,lighten(rgba(indigo,.9),10%),darken(indigo,25%))
	