@font-face {
  font-family: "Futura";
  src: url("Futura.ttf");
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  min-height: 100%;
}
body {
  font-family: 'Futura';
  font-size: 16px;
  padding-top: 50px;
  overflow-x: hidden;
  background: -webkit-linear-gradient(45deg, rgba(103,133,252,0.9), rgba(232,51,57,0.9));
  background: -moz-linear-gradient(45deg, rgba(103,133,252,0.9), rgba(232,51,57,0.9));
  background: -o-linear-gradient(45deg, rgba(103,133,252,0.9), rgba(232,51,57,0.9));
  background: -ms-linear-gradient(45deg, rgba(103,133,252,0.9), rgba(232,51,57,0.9));
  background: linear-gradient(45deg, rgba(103,133,252,0.9), rgba(232,51,57,0.9));
}
body:after {
  content: '';
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(135deg, rgba(77,95,193,0.6), rgba(0,214,242,0.6));
  background: -moz-linear-gradient(135deg, rgba(77,95,193,0.6), rgba(0,214,242,0.6));
  background: -o-linear-gradient(135deg, rgba(77,95,193,0.6), rgba(0,214,242,0.6));
  background: -ms-linear-gradient(135deg, rgba(77,95,193,0.6), rgba(0,214,242,0.6));
  background: linear-gradient(-45deg, rgba(77,95,193,0.6), rgba(0,214,242,0.6));
}
body.ready .loader {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visiblity: hidden;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(0,0,0,0.5);
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
}
.loader-ball {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.loader-ball:nth-of-type(1) {
  -webkit-animation: loader-ball infinite 2s 0ms both ease-in-out;
  -moz-animation: loader-ball infinite 2s 0ms both ease-in-out;
  -o-animation: loader-ball infinite 2s 0ms both ease-in-out;
  -ms-animation: loader-ball infinite 2s 0ms both ease-in-out;
  animation: loader-ball infinite 2s 0ms both ease-in-out;
}
.loader-ball:nth-of-type(2) {
  -webkit-animation: loader-ball infinite 2s 500ms both ease-in-out;
  -moz-animation: loader-ball infinite 2s 500ms both ease-in-out;
  -o-animation: loader-ball infinite 2s 500ms both ease-in-out;
  -ms-animation: loader-ball infinite 2s 500ms both ease-in-out;
  animation: loader-ball infinite 2s 500ms both ease-in-out;
}
.loader-ball:nth-of-type(3) {
  -webkit-animation: loader-ball infinite 2s 1000ms both ease-in-out;
  -moz-animation: loader-ball infinite 2s 1000ms both ease-in-out;
  -o-animation: loader-ball infinite 2s 1000ms both ease-in-out;
  -ms-animation: loader-ball infinite 2s 1000ms both ease-in-out;
  animation: loader-ball infinite 2s 1000ms both ease-in-out;
}
.cube {
  position: fixed;
  width: 600px;
  height: 600px;
  bottom: 0;
  right: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 9999px;
  -moz-perspective: 9999px;
  -ms-perspective: 9999px;
  perspective: 9999px;
  -webkit-animation: cube-rotate 120s infinite both linear;
  -moz-animation: cube-rotate 120s infinite both linear;
  -o-animation: cube-rotate 120s infinite both linear;
  -ms-animation: cube-rotate 120s infinite both linear;
  animation: cube-rotate 120s infinite both linear;
}
.cube-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
}
.cube-face:nth-of-type(1) {
  background: rgba(0,0,0,0.02);
}
.cube-face:nth-of-type(2) {
  background: rgba(0,0,0,0.04);
}
.cube-face:nth-of-type(3) {
  background: rgba(0,0,0,0.06);
}
.cube-face:nth-of-type(4) {
  background: rgba(0,0,0,0.08);
}
.cube-face:nth-of-type(5) {
  background: rgba(0,0,0,0.1);
}
.cube-face:nth-of-type(6) {
  background: rgba(0,0,0,0.12);
}
.cube-face-front {
  -webkit-transform: translate3d(0, 0, 300px);
  -moz-transform: translate3d(0, 0, 300px);
  -o-transform: translate3d(0, 0, 300px);
  -ms-transform: translate3d(0, 0, 300px);
  transform: translate3d(0, 0, 300px);
}
.cube-face-back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 300px);
  -moz-transform: rotateY(180deg) translate3d(0, 0, 300px);
  -o-transform: rotateY(180deg) translate3d(0, 0, 300px);
  -ms-transform: rotateY(180deg) translate3d(0, 0, 300px);
  transform: rotateY(180deg) translate3d(0, 0, 300px);
}
.cube-face-left {
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, 300px);
  -moz-transform: rotateY(-90deg) translate3d(0, 0, 300px);
  -o-transform: rotateY(-90deg) translate3d(0, 0, 300px);
  -ms-transform: rotateY(-90deg) translate3d(0, 0, 300px);
  transform: rotateY(-90deg) translate3d(0, 0, 300px);
}
.cube-face-right {
  -webkit-transform: rotateY(90deg) translate3d(0, 0, 300px);
  -moz-transform: rotateY(90deg) translate3d(0, 0, 300px);
  -o-transform: rotateY(90deg) translate3d(0, 0, 300px);
  -ms-transform: rotateY(90deg) translate3d(0, 0, 300px);
  transform: rotateY(90deg) translate3d(0, 0, 300px);
}
.cube-face-top {
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 300px);
  -moz-transform: rotateX(90deg) translate3d(0, 0, 300px);
  -o-transform: rotateX(90deg) translate3d(0, 0, 300px);
  -ms-transform: rotateX(90deg) translate3d(0, 0, 300px);
  transform: rotateX(90deg) translate3d(0, 0, 300px);
}
.cube-face-bottom {
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 300px);
  -moz-transform: rotateX(-90deg) translate3d(0, 0, 300px);
  -o-transform: rotateX(-90deg) translate3d(0, 0, 300px);
  -ms-transform: rotateX(-90deg) translate3d(0, 0, 300px);
  transform: rotateX(-90deg) translate3d(0, 0, 300px);
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}
input,
button {
  font-family: 'Futura';
}
#App {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100% - 75px);
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
  overflow: auto;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
#App.on {
  -webkit-transform: translateX(150px);
  -moz-transform: translateX(150px);
  -o-transform: translateX(150px);
  -ms-transform: translateX(150px);
  transform: translateX(150px);
}
#App.off {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.button-hover,
.header-navigation-button,
.header-form-toggle,
.header-disconnect,
.menu_color_item {
  cursor: pointer;
  -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
  will-change: box-shadow, tranform;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.button-hover:hover,
.header-navigation-button:hover,
.header-form-toggle:hover,
.header-disconnect:hover,
.menu_color_item:hover {
  -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.25);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -o-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}
.button,
.header-form-input,
.menu_item {
  cursor: pointer;
}
.header {
  position: fixed;
  z-index: 2;
  top: -55px;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,0.25);
  -webkit-transition: top 500ms;
  -moz-transition: top 500ms;
  -o-transition: top 500ms;
  -ms-transition: top 500ms;
  transition: top 500ms;
}
.header:after {
  content: '';
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 1px;
  background: -webkit-linear-gradient(0deg, transparent, #000, transparent);
  background: -moz-linear-gradient(0deg, transparent, #000, transparent);
  background: -o-linear-gradient(0deg, transparent, #000, transparent);
  background: -ms-linear-gradient(0deg, transparent, #000, transparent);
  background: linear-gradient(90deg, transparent, #000, transparent);
}
.header.on {
  top: 0;
}
.header-navigation-button {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.25);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.25);
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
  text-align: center;
}
.header-navigation-button:before {
  content: '\f0c9';
  font-family: FontAwesome;
  font-size: 32px;
  line-height: 40px;
  color: rgba(255,255,255,0.9);
}
.header-navigation-button.on {
  background: rgba(0,0,0,0.5);
}
.header-search {
  position: absolute;
  top: 50%;
  left: 55px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header-search:after {
  position: absolute;
  content: '\f002';
  font-family: FontAwesome;
  color: rgba(255,255,255,0.9);
  font-size: 30px;
  right: 5px;
  top: 5px;
}
.header-search-input {
  width: 200px;
  padding-right: 25px;
  border: none;
  color: rgba(255,255,255,0.9);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(0,0,0,0.25);
  height: 40px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-form-toggle,
.header-disconnect {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(0,0,0,0.25);
  border: 1px solid rgba(0,0,0,0.25);
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
}
.header-form-toggle:before,
.header-disconnect:before {
  font-family: FontAwesome;
  font-size: 30px;
  line-height: 40px;
  color: rgba(255,255,255,0.9);
}
.header-form-toggle.on,
.header-disconnect.on {
  visibility: visible;
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.header-form-toggle:before {
  content: '\f007';
}
.header-disconnect:before {
  content: '\f13e';
}
.header-form-container {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 10px;
  padding: 10px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: visibility 0ms 500ms;
  -moz-transition: visibility 0ms 500ms;
  -o-transition: visibility 0ms 500ms;
  -ms-transition: visibility 0ms 500ms;
  transition: visibility 0ms 500ms;
}
.header-form-container:before {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  width: 0;
  height: 0;
  z-index: -1;
  background: rgba(0,0,0,0.25);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 750ms;
  -moz-transition: 750ms;
  -o-transition: 750ms;
  -ms-transition: 750ms;
  transition: 750ms;
}
.header-form-container.on {
  visibility: visible;
  -webkit-transition: visibility 0;
  -moz-transition: visibility 0;
  -o-transition: visibility 0;
  -ms-transition: visibility 0;
  transition: visibility 0;
}
.header-form-container.on:before {
  width: 200%;
  height: 200%;
}
.header-form-container.on > .header-form {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 250ms 500ms;
  -moz-transition: opacity 250ms 500ms;
  -o-transition: opacity 250ms 500ms;
  -ms-transition: opacity 250ms 500ms;
  transition: opacity 250ms 500ms;
}
.header-form {
  width: 200px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  -ms-transition: opacity 250ms;
  transition: opacity 250ms;
}
.header-form-input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  margin: 2px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.9);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-form-separator {
  color: rgba(255,255,255,0.9);
  font-size: 16px;
  text-align: center;
  padding: 5px 0;
}
.header-form-separator:before,
.header-form-separator:after {
  content: '';
  display: inline-block;
  width: 40%;
  height: 1px;
  margin: 4px 6px;
  background: rgba(255,255,255,0.9);
}
.header-form-alert {
  text-align: center;
  font-weight: bold;
  font-size: 0;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
}
.header-form-alert.error {
  color: #e51c23;
}
.header-form-alert.success {
  color: #259b24;
}
.header-form-alert.on {
  margin-top: 5px;
  font-size: 16px;
}
.navigation {
  position: fixed;
  top: 50px;
  left: 0;
  width: 300px;
  height: calc(100% - 50px);
  background: rgba(0,0,0,0.5);
  border-right: 1px solid rgba(0,0,0,0.25);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
  z-index: 2;
}
.navigation.on {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.navigation-profil {
  position: relative;
  width: 290px;
  background: rgba(0,0,0,0.25);
  margin: 5px;
  border: 1px solid rgba(63,81,181,0.25);
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  height: 0;
}
.navigation-profil.on {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  height: 150px;
}
.navigation-profil-image {
  position: absolute;
  width: 116px;
  height: 100%;
  top: 0;
  left: 0;
}
.navigation-profil-image > .img {
  background: rgba(0,0,0,0.25);
  background-image: url("../assets/img/test01.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 90px;
  height: 90px;
  margin-top: 30px;
  margin-left: 13px;
  border: none;
  outline: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid rgba(63,81,181,0.25);
}
.navigation-profil-info {
  position: absolute;
  width: 174px;
  height: 100%;
  top: 0;
  right: 0;
  border-left: 1px solid rgba(63,81,181,0.25);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navigation-profil-info > h3,
.navigation-profil-info h4 {
  color: rgba(255,255,255,0.9);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
}
.navigation-profil-info > h3 {
  margin: 15px 5px;
}
.navigation-profil-info > h4 {
  margin: 5px;
}
.navigation-menu {
  margin: 5px;
  width: 290px;
}
.menu_item {
  padding: 5px 10px;
  margin: 10px 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: rgba(255,255,255,0.9);
  text-transform: uppercase;
  text-align: center;
}
.menu_item.on {
  background: rgba(0,0,0,0.1);
}
.menu_color {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}
.menu_color_item {
  width: 65px;
  height: 65px;
  margin: 0 5px;
  float: left;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.menu_color_item:nth-of-type(1) {
  background: -webkit-linear-gradient(45deg, rgba(255,237,79,0.9), rgba(255,162,26,0.9));
  background: -moz-linear-gradient(45deg, rgba(255,237,79,0.9), rgba(255,162,26,0.9));
  background: -o-linear-gradient(45deg, rgba(255,237,79,0.9), rgba(255,162,26,0.9));
  background: -ms-linear-gradient(45deg, rgba(255,237,79,0.9), rgba(255,162,26,0.9));
  background: linear-gradient(45deg, rgba(255,237,79,0.9), rgba(255,162,26,0.9));
}
.menu_color_item:nth-of-type(2) {
  background: -webkit-linear-gradient(45deg, rgba(232,51,57,0.9), #ff9800);
  background: -moz-linear-gradient(45deg, rgba(232,51,57,0.9), #ff9800);
  background: -o-linear-gradient(45deg, rgba(232,51,57,0.9), #ff9800);
  background: -ms-linear-gradient(45deg, rgba(232,51,57,0.9), #ff9800);
  background: linear-gradient(45deg, rgba(232,51,57,0.9), #ff9800);
}
.menu_color_item:nth-of-type(3) {
  background: -webkit-linear-gradient(45deg, rgba(0,214,242,0.9), rgba(103,133,252,0.9));
  background: -moz-linear-gradient(45deg, rgba(0,214,242,0.9), rgba(103,133,252,0.9));
  background: -o-linear-gradient(45deg, rgba(0,214,242,0.9), rgba(103,133,252,0.9));
  background: -ms-linear-gradient(45deg, rgba(0,214,242,0.9), rgba(103,133,252,0.9));
  background: linear-gradient(45deg, rgba(0,214,242,0.9), rgba(103,133,252,0.9));
}
.menu_color_item:nth-of-type(4) {
  background: -webkit-linear-gradient(45deg, rgba(77,95,193,0.9), #2f3d88);
  background: -moz-linear-gradient(45deg, rgba(77,95,193,0.9), #2f3d88);
  background: -o-linear-gradient(45deg, rgba(77,95,193,0.9), #2f3d88);
  background: -ms-linear-gradient(45deg, rgba(77,95,193,0.9), #2f3d88);
  background: linear-gradient(45deg, rgba(77,95,193,0.9), #2f3d88);
}
.home {
  padding: 0 10px;
}
h1 {
  text-align: center;
}
section {
  height: 400px;
  width: 100%;
  max-width: 800px;
  margin: 2px auto;
  background: rgba(0,0,0,0.25);
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.profil {
  padding: 0 10px;
}
video {
  padding: 10px 0;
  margin: 10px 0;
}
video.full {
  width: 100%;
  max-height: 600px;
  border-top: 1px solid rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
}
.gallery {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
  padding-top: 50px;
  -webkit-perspective: 99999px;
  -moz-perspective: 99999px;
  -ms-perspective: 99999px;
  perspective: 99999px;
}
.gallery_item_full {
  width: 100%;
}
.gallery_item_large {
  width: calc(50% - 2px);
  height: 198px !important;
}
.gallery_item_big {
  width: calc(50% - 2px);
}
.gallery_item_normal {
  width: calc(25% - 2px);
}
.gallery_item_small {
  width: calc(12.5% - 2px);
}
.gallery_item {
  position: relative;
  margin: 1px;
  background: rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);
  float: left;
  -webkit-transition: 350ms ease-in-out;
  -moz-transition: 350ms ease-in-out;
  -o-transition: 350ms ease-in-out;
  -ms-transition: 350ms ease-in-out;
  transition: 350ms ease-in-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.gallery_item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotateX(-90deg) translateY(100%);
  -moz-transform: rotateX(-90deg) translateY(100%);
  -o-transform: rotateX(-90deg) translateY(100%);
  -ms-transform: rotateX(-90deg) translateY(100%);
  transform: rotateX(-90deg) translateY(100%);
  background: rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 10px 100px 0 rgba(0,0,0,0.5);
  box-shadow: inset 0 10px 100px 0 rgba(0,0,0,0.5);
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  transition: 500ms;
}
.gallery_item:hover {
  -webkit-box-shadow: inset 0 10px 60px 0 rgba(0,0,0,0.5);
  box-shadow: inset 0 10px 60px 0 rgba(0,0,0,0.5);
  z-index: 999;
  -webkit-transform: rotateX(90deg) translateY(-100%);
  -moz-transform: rotateX(90deg) translateY(-100%);
  -o-transform: rotateX(90deg) translateY(-100%);
  -ms-transform: rotateX(90deg) translateY(-100%);
  transform: rotateX(90deg) translateY(-100%);
}
.gallery_item:hover:before {
  background: rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5);
}
::-webkit-scrollbar {
  width: 8px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: rgba(63,81,181,0.25);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.25);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  width: 8px;
}
@-moz-keyframes loader-ball {
  0% {
    -webkit-transform: translateX(-100px) translateY(-50%) scale(0);
    -moz-transform: translateX(-100px) translateY(-50%) scale(0);
    -o-transform: translateX(-100px) translateY(-50%) scale(0);
    -ms-transform: translateX(-100px) translateY(-50%) scale(0);
    transform: translateX(-100px) translateY(-50%) scale(0);
  }

  50% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -o-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
  }

  100% {
    -webkit-transform: translateX(100px) translateY(-50%) scale(0);
    -moz-transform: translateX(100px) translateY(-50%) scale(0);
    -o-transform: translateX(100px) translateY(-50%) scale(0);
    -ms-transform: translateX(100px) translateY(-50%) scale(0);
    transform: translateX(100px) translateY(-50%) scale(0);
  }
}
@-webkit-keyframes loader-ball {
  0% {
    -webkit-transform: translateX(-100px) translateY(-50%) scale(0);
    -moz-transform: translateX(-100px) translateY(-50%) scale(0);
    -o-transform: translateX(-100px) translateY(-50%) scale(0);
    -ms-transform: translateX(-100px) translateY(-50%) scale(0);
    transform: translateX(-100px) translateY(-50%) scale(0);
  }

  50% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -o-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
  }

  100% {
    -webkit-transform: translateX(100px) translateY(-50%) scale(0);
    -moz-transform: translateX(100px) translateY(-50%) scale(0);
    -o-transform: translateX(100px) translateY(-50%) scale(0);
    -ms-transform: translateX(100px) translateY(-50%) scale(0);
    transform: translateX(100px) translateY(-50%) scale(0);
  }
}
@-o-keyframes loader-ball {
  0% {
    -webkit-transform: translateX(-100px) translateY(-50%) scale(0);
    -moz-transform: translateX(-100px) translateY(-50%) scale(0);
    -o-transform: translateX(-100px) translateY(-50%) scale(0);
    -ms-transform: translateX(-100px) translateY(-50%) scale(0);
    transform: translateX(-100px) translateY(-50%) scale(0);
  }

  50% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -o-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
  }

  100% {
    -webkit-transform: translateX(100px) translateY(-50%) scale(0);
    -moz-transform: translateX(100px) translateY(-50%) scale(0);
    -o-transform: translateX(100px) translateY(-50%) scale(0);
    -ms-transform: translateX(100px) translateY(-50%) scale(0);
    transform: translateX(100px) translateY(-50%) scale(0);
  }
}
@-ms-keyframes loader-ball {
  0% {
    -webkit-transform: translateX(-100px) translateY(-50%) scale(0);
    -moz-transform: translateX(-100px) translateY(-50%) scale(0);
    -o-transform: translateX(-100px) translateY(-50%) scale(0);
    -ms-transform: translateX(-100px) translateY(-50%) scale(0);
    transform: translateX(-100px) translateY(-50%) scale(0);
  }

  50% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -o-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
  }

  100% {
    -webkit-transform: translateX(100px) translateY(-50%) scale(0);
    -moz-transform: translateX(100px) translateY(-50%) scale(0);
    -o-transform: translateX(100px) translateY(-50%) scale(0);
    -ms-transform: translateX(100px) translateY(-50%) scale(0);
    transform: translateX(100px) translateY(-50%) scale(0);
  }
}
@keyframes loader-ball {
  0% {
    -webkit-transform: translateX(-100px) translateY(-50%) scale(0);
    -moz-transform: translateX(-100px) translateY(-50%) scale(0);
    -o-transform: translateX(-100px) translateY(-50%) scale(0);
    -ms-transform: translateX(-100px) translateY(-50%) scale(0);
    transform: translateX(-100px) translateY(-50%) scale(0);
  }

  50% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -o-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
  }

  100% {
    -webkit-transform: translateX(100px) translateY(-50%) scale(0);
    -moz-transform: translateX(100px) translateY(-50%) scale(0);
    -o-transform: translateX(100px) translateY(-50%) scale(0);
    -ms-transform: translateX(100px) translateY(-50%) scale(0);
    transform: translateX(100px) translateY(-50%) scale(0);
  }
}
@-moz-keyframes cube-rotate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    -moz-transform: rotateX(180deg) rotateY(180deg);
    -o-transform: rotateX(180deg) rotateY(180deg);
    -ms-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
  }

  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    -o-transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@-webkit-keyframes cube-rotate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    -moz-transform: rotateX(180deg) rotateY(180deg);
    -o-transform: rotateX(180deg) rotateY(180deg);
    -ms-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
  }

  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    -o-transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@-o-keyframes cube-rotate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    -moz-transform: rotateX(180deg) rotateY(180deg);
    -o-transform: rotateX(180deg) rotateY(180deg);
    -ms-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
  }

  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    -o-transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@-ms-keyframes cube-rotate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    -moz-transform: rotateX(180deg) rotateY(180deg);
    -o-transform: rotateX(180deg) rotateY(180deg);
    -ms-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
  }

  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    -o-transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes cube-rotate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -o-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    -moz-transform: rotateX(180deg) rotateY(180deg);
    -o-transform: rotateX(180deg) rotateY(180deg);
    -ms-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
  }

  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    -moz-transform: rotateX(360deg) rotateY(360deg);
    -o-transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
