.home
	padding 0 10px
	
h1
	text-align center
.home-video-thumb
	position relative
	float left
	background Black
	cursor pointer
	border-radius borderRadius
	transition 500ms
	width calc(25% - 10px)
	margin 5px
	transform scale(0)
	opacity 0	
	&.new
		width 0
		margin 0
	&:before
		content ''
		display block
		padding-top 100%
	&:after
		content '\f04b'
		font-family FontAwesome
		@extend .absolute-center
		color Black
		font-size iconSize
		transition 500ms
	&:hover
		background BlackLight
		&:after
			transform translateX(-50%) translateY(-50%) scale(1.2)
	&.on
		opacity 1
		transform scale(1)
		
	@media (max-width:breakpoint-screen)
		width calc(33.333% - 10px) !important
	@media (max-width:breakpoint-tablet)
		width calc(50% - 10px) !important
	@media (max-width:breakpoint-mobile)
		width calc(100% - 10px) !important
		
.home-video-thumb-title
	position absolute
	color White
	width 100% 
	text-align center
	top 50%
	transform translateY(-50%)
	margin-top iconSize 
		 