@font-face
    font-family "Futura"
    src url('utils/Futura.ttf')
    
global-reset()

red = #e51c23
yellow = #ffeb3b
lightBlue = #03a9f4
cyan = #00bcd4
blue = #5677fc
green = #259b24
orange = #ff9800
grey = #eeeeee
indigo = #3f51b5

White = rgba(255,255,255,.9)
Black = rgba(0,0,0,.5)
BlackLight = rgba(0,0,0,.25)
MainColor = rgba(indigo,0.25)

fontSize = 8px

borderRadius = 2px

headerHeight = 50px
iconSize = headerHeight - 10px

easing = ease-in-out

//NAVIGATION
navWidth = 300px		
navProfilHeight = 150px	
navProfilWidth	= navWidth - 10